/* Blowfish scheme */
:root {
  --color-neutral: 220, 255, 244;
  /* Gray */
  --color-neutral-50: 250, 250, 250;
  --color-neutral-100: 245, 245, 245;
  --color-neutral-200: 232, 232, 232;
  --color-neutral-300: 213, 213, 213;
  --color-neutral-400: 163, 163, 163;
  --color-neutral-500: 116, 116, 116;
  --color-neutral-600: 85, 85, 85;
  --color-neutral-700: 65, 65, 65;
  --color-neutral-800: 41, 41, 41;
  --color-neutral-900: 23, 23, 23;
  /* Yellow (#fec617) */
  --color-primary-50: 255, 251, 235;
  --color-primary-100: 255, 247, 214;
  --color-primary-200: 255, 240, 184;
  --color-primary-300: 254, 231, 143;
  --color-primary-400: 254, 218, 92;
  --color-primary-500: 254, 198, 23;
  --color-primary-600: 227, 171, 0;
  --color-primary-700: 191, 140, 0;
  --color-primary-800: 156, 112, 0;
  --color-primary-900: 120, 85, 0;
  /* Burgundy (#780019) */
  --color-secondary-50: 251, 235, 237;
  --color-secondary-100: 246, 215, 220;
  --color-secondary-200: 237, 176, 185;
  --color-secondary-300: 228, 137, 150;
  --color-secondary-400: 219, 98, 115;
  --color-secondary-500: 210, 59, 80;
  --color-secondary-600: 168, 47, 64;
  --color-secondary-700: 126, 35, 48;
  --color-secondary-800: 84, 24, 32;
  --color-secondary-900: 42, 12, 16;
}
