/* Blowfish scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Gray */
  --color-neutral-50: 248, 250, 252;
  --color-neutral-100: 241, 245, 249;
  --color-neutral-200: 226, 232, 240;
  --color-neutral-300: 203, 213, 225;
  --color-neutral-400: 148, 163, 184;
  --color-neutral-500: 100, 116, 139;
  --color-neutral-600: 71, 85, 105;
  --color-neutral-700: 51, 65, 85;
  --color-neutral-800: 30, 41, 59;
  --color-neutral-900: 15, 23, 42;
  /* Yellow */
  --color-primary-50: 255, 227, 139;
  --color-primary-100: 254, 221, 116;
  --color-primary-200: 254, 215, 93;
  --color-primary-300: 254, 209, 69;
  --color-primary-400: 254, 204, 46;
  --color-primary-500: 254, 198, 23;
  --color-primary-600: 229, 178, 21;
  --color-primary-700: 203, 158, 18;
  --color-primary-800: 178, 139, 16;
  --color-primary-900: 152, 119, 14;
  /* Cyan */
  --color-secondary-50:  244, 235, 237;
  --color-secondary-100: 233, 214, 218;
  --color-secondary-200: 223, 194, 200;
  --color-secondary-300: 212, 173, 181;
  --color-secondary-400: 201, 153, 163;
  --color-secondary-500: 190, 133, 145;
  --color-secondary-600: 179, 112, 126;
  --color-secondary-700: 169, 92, 108;
  --color-secondary-800: 158, 71, 89;
  --color-secondary-900: 147, 51, 71;
}
